<div class="sidebar bg-white text-black p-3">
  <ul class="nav flex-column">
    <li class="nav-item mb-2">
      <a class="nav-link text-black" [routerLink]="['employees']" routerLinkActive="router-link-active" >👥 Empleados</a>
    </li>
    <li class="nav-item mb-2">
      <a class="nav-link text-black" [routerLink]="['departments']" routerLinkActive="router-link-active">🏢 Departamentos</a>
    </li>
    <li class="nav-item mb-2">
      <a class="nav-link text-black" [routerLink]="['users']" routerLinkActive="router-link-active">🔑 Usuarios</a>
    </li>
    <li class="nav-item mb-2">
      <a class="nav-link text-black" [routerLink]="['reports']" routerLinkActive="router-link-active">📊 Reportes</a>
    </li>
    <li class="nav-item mb-2">
      <a class="nav-link text-black" [routerLink]="['settings']" routerLinkActive="router-link-active">⚙️ Configuración</a>
    </li>
  </ul>
</div>
